body {background-color: grey; overflow: hidden; font-family: 'Oxanium'; padding: 0%; margin: 0%;}

#title {
  color: black;
  width: 100%;
  text-align: center;
  font-size: 25px;
  text-shadow: 0 0 10px #fff;
  background: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
